<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>744195629220-20g8pbm920kfqrgu1esu7j4k65j05i5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744195629220-20g8pbm920kfqrgu1esu7j4k65j05i5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCJyMs2dO5mP-gF3rovg9p_HPH6OyDLgDc</string>
	<key>GCM_SENDER_ID</key>
	<string>744195629220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bitgrange.Bitgrange</string>
	<key>PROJECT_ID</key>
	<string>bitgrange-71e82</string>
	<key>STORAGE_BUCKET</key>
	<string>bitgrange-71e82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:744195629220:ios:04c1958a19fd2a8e</string>
	<key>DATABASE_URL</key>
	<string>https://bitgrange-71e82.firebaseio.com</string>
</dict>
</plist>
